@media only screen and (max-width: 640px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .right-container {
        background-image: url(images/people-office.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(56, 2, 97);
        background-blend-mode: overlay;
        opacity: 0.8;
    }

    .left-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }

    .left-container .sub-heading {
        text-align: center;
    }
}

@media only screen and (min-width: 640px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    .container {
        display: flex;
    }

    .left-container {
        flex: 1 1 0;
    }

    .left-container .secondary-color {
        color: rgb(137, 33, 216)
    }
     
    .right-container {
        flex: 1 1 auto;
        padding: 30px 60px 30px 20px;
        background: url("images/people-office.jpg") no-repeat;
        background-size: cover;
    }
}