#jeremy {
    float: left;
}

/* De ce nu pot adauga culoare la acest id , decat daca pun un a dupa?  */

#jeremy a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#nav {
    text-align: right;
    word-spacing: 10px;
}

/* Text-align functioneaza doar mai sus, iar la "nav a" nu functoneaza */

#nav a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

/* Word-spacing functioneaza doar la nav simplu, iar la "nav a" nu  */


#horizontal {
    height: 2px;
    background: #333;
}

#Posted {
    font-style: italic;
    color: gray;
}

.paragraphs {
    font-size: 20px;
    font-style: initial;

}

#page {
    margin-left: 500px;
    margin-right: 500px;
}